
.pb-tile[data-v-225a84b4] {
    width: 21px;
    height: 21px;
    background-color: rgb(254, 208, 73);
    border: 1px solid var(--secondary);
    padding-top: 2px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.filled-tile[data-v-225a84b4] {
    color: transparent;
    background-image: url(/img/tile-bg.ced1af8e.svg);
    background-repeat: repeat;
    background-position: center;
}
.filled-tile-light[data-v-225a84b4] {
    background-image: url(/img/tile-bg-light.9db78d3b.svg);
}


.fragment-number[data-v-4c02545d] {
    color: #fefefe;
}
.pb-container[data-v-4c02545d] {
    line-height: 0.7em;
}

